<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/stylesheets/normalize.css"/>
    <link rel="stylesheet" href="/stylesheets/foundation.css"/>
    <link rel="stylesheet" href="/stylesheets/emmet.css"/>
    <link rel="stylesheet" href="/foundation-icons/foundation-icons.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/vendor/jquery.js"></script>
    <script src="/javascripts/foundation.min.js"></script>
</head>
<body>
<div class="sticky">
    <nav class="tab-bar" data-topbar role="navigation" data-options="sticky_on: large">
        <section id="top-bar" class="middle tab-bar-section">
            <ul class="title-area">
                <li class="name">
                    <h1>
                        <a href="#">Ewaybot</a>
                    </h1>
                </li>
            </ul>
        </section>
    </nav>
</div>
<div class="error404 text-center">
    <h1>Oops! Page not exists ! </h1>
</div>
<script type="text/javascript">
    $(document).foundation();
</script>
</body>
</html>